$primary: rgb(152, 61, 231);
$text: white;
$btn-font-family: 'Lilita One', sans-serif;
$font-family-sans-serif: 'Alexandria', sans-serif;
$headings-font-family: 'Lilita One', sans-serif;
body {
  font-family: $font-family-sans-serif;
}
.thisdoesnotexist {
  font-family: 'Alexandria', 'Lilita One', sans-serif;
}
